/* .element, .outer-container {
	width: 200px;
	height: 200px;
 } */

 .outer-container {
	width: 200px;
	height: 200px;
	border: 5px solid purple;
	position: relative;
	overflow: hidden;
 }

 .element {
	 padding: 5px;
	 width: 200px;
	 height: 200px;
	 box-sizing: border-box;
 }
	
 .inner-container {
	position: absolute;
	left: 0;
	overflow: auto;
	/* overflow-x: hidden; */
	/* overflow-y: scroll; */
 }
	
 /* .inner-container::-webkit-scrollbar {
	display: none;
 } */