:root {
	--choice-circle-diameter: 30px;
	--choice-circle-container-side: 50px;
	--choice-circle-approach-area-side: 100px;
	--your-circle-diameter: 200px;
	--your-circle-hover-diameter: 220px;
	--your-circle-active-diameter: 210px;
	--your-circle-container-diameter: 310px;
	--your-message-color: #087EF5;
	--your-circle-hover-transition-duration: 0.2s;
	--tick-transition-duration: 0.3s;
	--arrow-size: 20px;
}

body {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	position: relative;
	font-family: "Poppins", sans-serif;
}

.wrapper {
	max-width: 960px;
	/* min-width: 480px; */
	margin: auto;
	/* margin-top: 30px; */
	padding: 30px 0;
	display: block;
	height: 100%;
	box-sizing: border-box;
}

#chooseCircleWrapper {
	display: flex;
	margin: auto;
	padding: 20px;
	width: auto;
}

#regChooseCircleColor {
	margin: auto;
	/* height: 200px; */
	display: flex;
	flex-wrap: wrap;
}

.circle_choice_container {
	margin: 0;
	padding: 0;
	position: relative;
	width: var(--choice-circle-container-side);
	height: var(--choice-circle-container-side);
	border-radius: 50%;
	/* border: 2px solid #ccc; */
	box-sizing: border-box;
}

.circle_choice {
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-width: var(--choice-circle-diameter);
	min-height: var(--choice-circle-diameter);
	/* border-radius: var(--choice-circle-diameter); */
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	transition: 0.1s;
	transition-property: min-width, min-height, box-shadow;
	box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.15);
	background: grey;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* hover resizing done by js */

.circle_choice:hover {
	/* min-width: 46px; */
	/* min-height: 46px; */
	/* background: grey; */
	z-index: 2;
	/*z-index is 2 so it is higher than selected circle*/
	/* border: 2px solid white; */
	/* -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5); */
	/* -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5); */
	box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.2);
}

.reg_your_circle_wrapper {
	min-width: var(--your-circle-diameter);
	min-height: var(--your-circle-diameter);
	display: flex;
	/* margin-top: 20px; */
}

.reg_your_circle_container {
	min-width: var(--your-circle-container-diameter);
	min-height: var(--your-circle-container-diameter);
	display: flex;
	margin: auto;
}

#regYourCircleHover {
	min-width: var(--your-circle-diameter);
	min-height: var(--your-circle-diameter);
	border-radius: 50%;
	display: flex;
	margin: auto;
	position: relative;
	/* z-index gives errors when unhovering the circle*/
	/* z-index: 2; */
}

#regYourCircleHover:hover {
	min-width: var(--your-circle-container-diameter);
	min-height: var(--your-circle-container-diameter);
	cursor: none;
	/* background: black; */
	/* border: 1px solid black; */
}

#regYourCircle {
	/* position: absolute; */
	min-width: var(--your-circle-diameter);
	min-height: var(--your-circle-diameter);
	border-radius: 50%;
	margin: auto;
	background: linear-gradient(180deg, #888, #ccc);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	/* transition: background 0.2s ease-out; */
	transition: var(--your-circle-hover-transition-duration) ease-in-out;
	/* transition-delay: 0.1s; */
	transition-property: min-width, min-height, box-shadow;
	position: relative;
	box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.3);
	/* box-sizing: content-box; */
}

#regYourCircleHover:hover #regYourCircle {
	/* background overridden by mousemovement listener finishing lines of code */
	/* background: grey; */
	min-width: var(--your-circle-hover-diameter);
	min-height: var(--your-circle-hover-diameter);
	box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.2);
}

#regYourCircleHover:active #regYourCircle {
	/* background overridden by mousemovement listener finishing lines of code */
	/* background: grey; */
	/* transition: 0.05s; */
	transition: 0s;
	min-width: var(--your-circle-diameter);
	min-height: var(--your-circle-diameter);
	box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.3);
}

/*rounded tick*/

/* .tick {
	width: 8px;
	height: 8px;
	background: #ddd;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	margin-left: -5px;
	margin-top: -5px;
	transition: 0.2s ease-in-out;
	transition-property: transform;
	z-index: -1;
} */

/*flat-line tick*/

.tick {
	width: 8px;
	height: 2px;
	background-color: #ddd;
	position: absolute;
	left: 50%;
	top: 50%;
	transition: var(--tick-transition-duration) ease-out;
	transition-property: transform, background-color;
	z-index: -1;
}

#arrow {
	width: 0;
	height: 0;
	/* border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
	border-bottom: var(--arrow-size) solid transparent; */
	border-style: solid;
	border-width: 0 14px 28px 14px;
	border-color: transparent transparent black transparent;
	/* border-bottom-color: black; */
	transition: 0.1s ease-in-out;
	transition-property: border-width, transform;
	/* transform: rotate(270deg); */
	/* z-index: -1; */
	/* box-shadow: isn't working because the element is a rectangle actually */
}

#greyArrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 16px 8px;
	border-color: transparent transparent #aaa transparent;
	z-index: -2;
}

.reg_your_name_wrapper {
	display: block;
	margin-top: 50px;
}

.centering_wrapper {
	display: flex;
	width: 100%;
}

.margin-top40 {
	margin-top: 50px;
}

/*
#regYourNameField {
	width: auto;
	font-size: 36px;
	text-align: center;
	margin: auto;
	border: none;
	border-bottom: 3px solid black;
	padding-bottom: 14px;
} */

/* #regYourNameField:focus { */

/* border: 1px solid #bbb; */

/* outline: 0; */

/* border: 0px; */

/* } */

::placeholder {
	color: #ccc;
}

#regYourNameField {
	margin: auto;
	font-family: inherit;
	font-size: 32px;
	text-align: center;
	width: 400px;
	border: 0;
	/* border-bottom: 2px solid black; */
	outline: 0;
	color: black;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.underline {
	height: 4px;
}

#regYourNameFieldUnderline {
	height: 2px;
	width: 400px;
	margin: auto;
	background: #ccc;
	transition: 0.1s ease;
	transition-property: height;
}

#goToChatBtn {
	margin: auto;
}

#goToChatBtn {
	background-color: var(--your-message-color);
	/* Green */
	border: none;
	color: white;
	/* box-sizing: content-box; */
	padding: 12px 40px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	margin: auto;
	border-radius: 6px;
}

#goToChatBtn:hover {
	cursor: pointer;
}

#goToChatBtn:focus {
	outline: 0;
}

/* #regYourCircle .tick:nth-child(1) {
	transform: rotate(0deg) translate(80px);
}

#regYourCircle .tick:nth-child(2) {
	transform: rotate(90deg) translate(80px);
}

#regYourCircle .tick:nth-child(3) {
	transform: rotate(180deg) translate(80px);
}

#regYourCircle .tick:nth-child(4) {
	transform: rotate(270deg) translate(80px);
} */

/* #regYourCircleHover:hover #regYourCircle .tick:nth-child(1) {
	transform: rotate(0deg) translate(110px);
}
#regYourCircleHover:hover #regYourCircle .tick:nth-child(2) {
	transform: rotate(90deg) translate(110px);
}
#regYourCircleHover:hover #regYourCircle  .tick:nth-child(3) {
	transform: rotate(180deg) translate(110px);
}
#regYourCircleHover:hover #regYourCircle  .tick:nth-child(4) {
	transform: rotate(270deg) translate(110px);
} */

.checkmark {
	display: none;
}

.checkmark.draw:after {
	animation-duration: 800ms;
	animation-timing-function: ease;
	animation-name: checkmark;
	transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
	opacity: 1;
	height: 12px;
	width: 6px;
	transform-origin: left top;
	border-right: 3px solid #fff;
	border-top: 3px solid #fff;
	/* border-right: 3px solid #000;
  border-top: 3px solid #000; */
	content: "";
	/* left: 50%; */
	/* top: 50%; */
	position: absolute;
}

@keyframes checkmark {
	0% {
		height: 0;
		width: 0;
		opacity: 1;
	}
	20% {
		height: 0;
		width: 6px;
		opacity: 1;
	}
	40% {
		height: 12px;
		width: 6px;
		opacity: 1;
	}
	100% {
		height: 12px;
		width: 6px;
		opacity: 1;
	}
}

#redLocator {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 20px;
	height: 20px;
	/* border-radius: 20px; */
	background: red;
	pointer-events: none;
	/* z-index: 1; */
}